@use "base/variables" as v;
@use "base/mixins" as m;

/* --- Hero --- */
.about-hero {
    text-align: center;
    margin: 5rem auto;
    @include m.desktop {
        @include m.grid(2, 2rem);
        row-gap: 0;
    }
}
.about-title {
    font-size: 3rem;
    color: v.$negro;
    margin-bottom: 1.5rem;
    span {
        color: v.$lila;
        font-size: 4rem;
        display: block;
    }
    @include m.desktop {
        grid-column: 1/2;
        text-align: left;
        margin-bottom: 0;
    }
}

.about-subtitle {
    font-size: 2.1rem;
    color: v.$negro;
    line-height: 1.6;
    @include m.desktop {
        grid-row: 2/3;
        grid-column: 1/2;
        text-align: left;
        margin: 0;
    }
}
.about-text {
    display: none;
    @include m.tablet {
        display: block;
    }
}

.about-img {
    img {
        border-radius: 20px;
    }
    @include m.desktop {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

/* --- Misión y visión --- */
.about-mission-vision {
    display: grid;
    gap: 1.5rem;
    @include m.tablet {
        @include m.grid(2, 1fr);
        margin-bottom: 3rem;
    }
}

.about-card {
    padding: 1.5rem;
}

.section-title {
    // font-size: 1.8rem;
    color: v.$lila;
    margin-bottom: 2rem;
}

/* --- Equipo --- */
.about-team {
    text-align: center;
    margin-bottom: 3rem;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.team-member {
    padding: 1rem;
    text-align: center;
    background-color: v.$blanco;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.team-img {
    padding: 4rem;
}
.team-photo {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.8rem;
}

.team-name {
    margin-bottom: 0.3rem;
}

/* --- Valores --- */
.about-values {
    padding: 1rem;
}

.values-list {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
}

.values-list li {
    background: v.$blanco;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    font-size: 01rem;
    color: v.$gris-opaco;
    font-size: 1.6rem;
}

/* --- Contacto --- */
.about-contact {
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
    color: v.$negro;
}
