@use "base/variables" as v;
@use "base/mixins" as m;

.contact-contenedor {
    max-width: 100%;
    margin: 2rem auto;
    @include m.desktop {
        @include m.grid(2, 3rem);
    }
}
.contact-hero {
    margin-bottom: 5rem;
    p {
        text-align: center;
    }
}
.contact-title {
    margin-top: 5rem;
}
.contact-span {
    font-weight: bold;
    color: v.$lila;
}
.contact-link {
    color: v.$gris-opaco;
}
/* ===== FORMULARIO ===== */
.contact-form {
    background: v.$blanco;
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 2rem;
}

.contact-form h2 {
    margin-bottom: 3rem;
    @include m.desktop {
        text-align: left;
    }
}

.form-row {
    @include m.tablet {
        display: flex;
        gap: 1rem;
    }
}

.form-group-contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group-contact label {
    color: v.$gris-opaco;
    margin-bottom: 0.4rem;
    font-weight: bold;
}

.form-group-contact input,
.form-group-contact textarea {
    padding: 0.8rem;
    border: 1px solid v.$gris-claro;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

.form-group-contact input:focus,
.form-group-contact textarea:focus {
    border-color: v.$lila;
    outline: none;
}

/* Botón */
.btn {
    display: inline-block;
    width: 100%;
    padding: 0.9rem;
    background-color: v.$lila;
    color: v.$blanco;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: v.$lila-opaco;
}

/* ===== INFO CARDS ===== */
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.info-card {
    display: flex;
    gap: 2rem;
    justify-content: start;
    background: v.$blanco;
    padding: 3.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.info-card h3 {
    color: v.$lila;
    text-align: left;
}

.info-card p {
    color: v.$gris-opaco;
}
.info-icon {
    padding: 1rem;
    background-color: v.$lila-claro;
    height: fit-content;
    border-radius: 10px;
}
