@use "base/variables" as v;
@use "base/mixins" as m;

.header-section {
    position: relative;
}
.background-img {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
}
.overlay {
    position: absolute;
    inset: 0;
    filter: opacity(0.3);
    background-color: v.$gris;
}
.second-contenedor {
    position: relative;
    padding-top: 7rem;
    @include m.tablet {
        padding-top: 8.5rem;
    }
    @include m.desktop {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}
.title-contenedor {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.title-contenedor h1 {
    color: v.$blanco;
    font-size: 3.5rem;
    line-height: 4.5rem;
    @include m.tablet {
        font-size: 5.5rem;
        line-height: 7rem;
    }
    @include m.desktop {
        font-size: 6.5rem;
        line-height: 8rem;
    }
}
.span-title {
    color: v.$lila;
    @include m.tablet {
        display: block;
    }
}
.header-parraf {
    color: v.$gris-claro;
    font-size: 2rem;
    text-align: center;
    @include m.tablet {
        font-size: 2.5rem;
        line-height: 4rem;
        margin: 0 0 3rem 0;
    }
}
.buttons-contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include m.tablet {
        flex-direction: row;
        gap: 3rem;
    }
}
.citas-button {
    padding: 1rem 2rem;
    color: v.$blanco;
    background-color: v.$lila;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    @include m.tablet {
        padding: 1.5rem 2.5rem;
        font-size: 1.8rem;
    }
}
.servicios-button {
    padding: 1rem 2rem;
    color: v.$blanco;
    background-color: transparent;
    border: 1px solid v.$blanco;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    @include m.tablet {
        padding: 1.5rem 2.5rem;
        font-size: 1.8rem;
    }
}
.citas-button:hover {
    background-color: v.$lila-opaco;
    color: v.$blanco;
}
.servicios-button:hover {
    background-color: v.$blanco;
    color: v.$negro;
}
.details-contenedor {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    @include m.tablet {
        width: 100%;
        margin-top: 4rem;
        font-weight: bold;
    }
}
.details-header {
    flex: 1;
}
.details-header {
    span {
        color: v.$blanco;
        line-height: 2.1rem;
    }
}
