@use "base/variables" as v;
@use "base/mixins" as m;

.services-hero p {
    text-align: center;
}

.services-title {
    margin-top: 5rem;
}

/* Contenedor */
.services {
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
