@use "base/variables" as v;
@use "base/mixins" as m;

/* Botón morado generico del sitio */
.btn {
    background-color: v.$lila;
    color: v.$blanco;
    border: none;
    border-radius: 8px;
    padding: 1rem 1.4rem;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background 0.3s ease;
    @include m.tablet {
        font-size: 1.5rem;
    }
    &.citas {
        padding: 1rem 2rem;
        font-weight: 400;
        @include m.tablet {
            padding: 1.5rem 2.5rem;
            font-size: 1.8rem;
        }
    }
}
.btn:hover {
    background-color: v.$lila-opaco;
    color: v.$blanco;
}
.btn:active {
    transform: scale(0.97);
}

/* --- Bóton login del encabezado --- */
.login-button {
    background-color: transparent;
    border: 1px solid v.$lila;
    color: v.$lila;
    font-weight: 400;
    padding: 0.8rem 2rem;
    border-radius: 5px;
}
.login-button:hover {
    background-color: v.$lila;
    color: v.$blanco;
}

/* --- Otros botones --- */
.servicios-button {
    padding: 1rem 2rem;
    color: v.$blanco;
    background-color: transparent;
    border: 1px solid v.$blanco;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    @include m.tablet {
        padding: 1.5rem 2.5rem;
        font-size: 1.8rem;
    }
}
.servicios-button:hover {
    background-color: v.$blanco;
    color: v.$negro;
}
