@use "base/variables" as v;
@use "base/mixins" as m;

/* Card */
.card {
    background: v.$blanco;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px v.$gris-opaco-2;
    transition: transform 0.2s ease;
    &.selected {
        background-color: v.$lila;
        p,
        h3,
        span {
            color: v.$blanco;
        }
    }
}

.card:hover {
    transform: translateY(-5px);
}

/* Imagen */
.card-img {
    position: relative;
}

.card-img img {
    width: 100%;
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/* Badge */
.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: v.$lila;
    color: v.$blanco;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

/* Contenido */
.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-content p {
    color: v.$gris-opaco;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

/* Detalles */
.details {
    display: flex;
    font-size: 1.3rem;
    justify-content: space-between;
    color: v.$gris-opaco;
    margin-bottom: 15px;
}
