@use "base/variables" as v;
@use "base/mixins" as m;

.form-container {
    width: min(90%, 600px);
    margin: 5rem auto;
}
.form-section {
    background-color: v.$blanco;
    padding: 3rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    gap: 4rem;
}
.form-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.form-subtitle {
    text-align: center;
    font-size: 1.3rem;
    color: v.$gris-opaco;
    line-height: 1.4;
}
.general-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
/* --- Grupos de formulario --- */
.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 1.5rem;
    color: v.$gris-opaco;
    margin-bottom: 0.6rem;
}

.form-input {
    padding: 1rem 1.2rem;
    border: 1px solid v.$gris-claro;
    border-radius: 8px;
    font-size: 1.5rem;
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
}

.form-input:focus {
    border-color: v.$lila; /* Azul violeta */
    box-shadow: 0 0 6px rgba(79, 70, 229, 0.3);
}
/* --- Links --- */
.form-links {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

.link {
    color: v.$lila;
    text-decoration: none;
    transition: color 0.2s;
    &.confirm {
        font-size: 2rem;
    }
}

.link:hover {
    color: v.$lila-opaco;
    font-weight: 600;
}
