@use "variables" as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$perla;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: v.$blanco;
    font-weight: 400;
}
a:hover {
    cursor: pointer;
    color: v.$lila;
}

img {
    max-width: 100%;
}
