@use "variables" as v;
@use "mixins" as m;

h1,
h2,
h3 {
    font-family: v.$fuente_principal;
    margin: 0;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    @include m.tablet {
        font-size: 2.8rem;
    }
    @include m.desktop {
        font-size: 3.6rem;
    }
}
h2 {
    font-size: 2rem;
    @include m.tablet {
        font-size: 2.3rem;
    }
    @include m.desktop {
        font-size: 3rem;
    }
}
h3 {
    font-size: 1.5rem;
    @include m.tablet {
        font-size: 1.8rem;
    }
    @include m.desktop {
        font-size: 2.5rem;
    }
}
p {
    color: v.$gris-opaco;
    font-size: 1.6rem;
    @include m.tablet {
        font-size: 1.8rem;
    }
    @include m.desktop {
        font-size: 2rem;
    }
}
