// Fuentes
$fuente_principal: "Poppins", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$gris: #25282c;
$lila: #6e6bd5;
$lila-opaco: #605db3;
$negro: #1a1b15;
$blanco: #ffffff;
$perla: rgb(234, 234, 234);
$gris-claro: #ddd;
$gris-opaco: #555;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
