@use "base/variables" as v;
@use "base/mixins" as m;

.admin-services {
    position: relative;
    margin-bottom: 2rem;
}
.new-service {
    position: absolute;
    right: 0px;
    top: 0px;
}
.card-cont {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include m.tablet {
        @include m.grid(2, 2);
    }
}
.admin-card {
    background-color: v.$blanco;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-radius: 12px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h3 {
        text-align: left;
    }
    span {
        font-size: 1.3rem;
        @include m.tablet {
            font-size: 1.5rem;
        }
    }
}
.card-btns {
    display: flex;
    justify-content: space-between;
}
