@use "base/variables" as v;
@use "base/mixins" as m;

.panel-service {
    height: 330px;
    width: min(720px, 95%);
    margin: 0 auto 28px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(16, 24, 40, 0.06);
    @include m.desktop {
        height: 340px;
    }
}
