@use "base/variables" as v;
@use "base/mixins" as m;

.header {
    background-color: v.$gris;
}
.nav-logo-contendedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        color: v.$blanco;
        font-size: 3rem;
    }
}
.nav {
    display: none;
    @include m.tablet {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}
.login-button {
    background-color: transparent;
    border: 1px solid v.$lila;
    color: v.$lila;
    font-weight: 400;
    padding: 0.8rem 2rem;
    border-radius: 5px;
}
.login-button:hover {
    background-color: v.$lila;
    color: v.$blanco;
}

.menu-despegable {
    background-color: v.$lila;
    color: v.$blanco;
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    @include m.tablet {
        display: none;
    }
}

// Footer

.footer {
    background-color: v.$gris;
}
.footer-contenedor {
    padding: 3rem 0;
}
.enlaces-contenedor {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}
.redes-contenedor {
    margin-bottom: 1.5rem;
    p {
        color: v.$gris-claro;
    }
    @include m.tablet {
        grid-column: 1/3;
    }
}
.logo-footer {
    display: flex;
    gap: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: v.$blanco;
    margin-bottom: 1rem;
}
.redes-sociales {
    display: flex;
    gap: 2rem;
}
.servicios-contenedor {
    margin-bottom: 1.5rem;
    h3 {
        text-align: left;
        color: v.$blanco;
    }
    p {
        color: v.$gris-claro;
    }
}
.servicios-contenedor ul {
    list-style: none;
    padding: 0;
    li {
        margin-top: 1.5rem;
    }
}

.copyright {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid v.$blanco;
    margin-top: 2rem;
    p {
        color: v.$gris-claro;
    }
}
