@use "base/variables" as v;
@use "base/mixins" as m;

// Acomodar footer al final de la pagina
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.contenedor-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

// Estilos del Header
.header {
    background-color: v.$gris;
}
.nav-logo-contendedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    h1 {
        color: v.$blanco;
        font-size: 3rem;
    }
}
.nav {
    display: none;
    @include m.tablet {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}
.menu-despegable {
    background-color: v.$lila;
    color: v.$blanco;
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    @include m.tablet {
        display: none;
    }
}
.icon {
    color: v.$lila;
}

// Estilos del Footer
.footer {
    background-color: v.$gris;
}
.footer-contenedor {
    padding: 3rem 0;
}
.enlaces-contenedor {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}
.redes-contenedor {
    margin-bottom: 1.5rem;
    p {
        color: v.$gris-claro;
    }
    @include m.tablet {
        grid-column: 1/3;
    }
}
.logo-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: v.$blanco;
    margin-bottom: 1rem;
}
.redes-sociales {
    display: flex;
    gap: 2rem;
}
.iconos-rs {
    padding: 0.8rem;
    border-radius: 10px;
    background-color: v.$gris-opaco;
    transition: all 0.1s ease-in;
}
.iconos-rs:hover {
    background-color: v.$lila;
    color: v.$blanco;
}
.servicios-contenedor {
    margin-bottom: 1.5rem;
    h3 {
        text-align: left;
        color: v.$blanco;
    }
    p {
        color: v.$gris-claro;
    }
}
.servicios-contenedor ul {
    list-style: none;
    padding: 0;
    li {
        margin-top: 1.5rem;
    }
}
.copyright {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid v.$blanco;
    margin-top: 2rem;
    p {
        color: v.$gris-claro;
    }
}
