@use "base/variables" as v;
@use "base/mixins" as m;

.header {
    background-color: v.$gris;
}
.nav-logo-contendedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        color: v.$blanco;
    }
}
.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.login-button {
    background-color: transparent;
    border: 1px solid v.$lila;
    color: v.$lila;
    font-weight: 400;
    padding: 0.8rem 2rem;
    border-radius: 5px;
}
.login-button:hover {
    background-color: v.$lila;
    color: v.$blanco;
}
// Footer

.footer {
    background-color: v.$gris;
}
.footer-contenedor {
    padding: 3rem 0;
}
.enlaces-contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.redes-contenedor {
    grid-column: 1/3;
}
.logo-footer {
    display: flex;
    gap: 2rem;
    font-size: 3rem;
    font-weight: bold;
    color: v.$blanco;
    margin-bottom: 1rem;
}
.redes-sociales {
    display: flex;
    gap: 2rem;
}
.servicios-contenedor h3 {
    text-align: left;
}
.servicios-contenedor ul {
    list-style: none;
    padding: 0;
    li {
        margin-top: 1.5rem;
    }
}

.copyright {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid v.$blanco;
    margin-top: 2rem;
}
