@use "base/variables" as v;
@use "base/mixins" as m;

.title {
    margin-top: 2rem;
}
.user-encabezado {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include m.tablet {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.u-btn {
    display: flex;
    justify-content: right;
}
.user-details {
    margin-top: 2rem;
    @include m.grid(1, 2rem);
    @include m.tablet {
        @include m.grid(3, 2rem);
    }
    @include m.desktop {
        @include m.grid(4, 2rem);
    }
}
.u-card-info {
    display: grid;
    align-content: center;
    background-color: v.$blanco;
    font-weight: bold;
    padding: 2.5rem;
    height: 200px;
    border-radius: 12px;
}
.user-details-citas {
    margin-top: 2rem;
    @include m.grid(1, 2rem);
}
.u-card-citas {
    display: flex;
    flex-direction: column;
    background-color: v.$blanco;
    border-radius: 12px;
    @include m.tablet {
        flex-direction: row;
        height: 200px;
    }
}
.u-img {
    width: 100%;
    flex: 1;
}
.u-img img {
    width: 100%;
    border-radius: 12px 12px 0 0;
    height: 200px;
    @include m.tablet {
        border-radius: 12px 0 0 12px;
    }
}
.u-info {
    flex: 2;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.u-p {
    display: flex;
    justify-content: end;
    p {
        margin: 0;
    }
}
